wifi_ssid: <sample_value>
wifi_password: <sample_value>
AP_Password: <sample_value>
OTA_Password: <sample_value>
mqtt_host: mqtt.p2psw.space
mqtt_port: 8883
mqtt_username: garden
mqtt_password: <sample_value>